.admin-layout {
  min-height: 100vh;

  background: #f8f9f8;
}

.admin-main {
  min-height: 100vh;

  margin-left: 240px;
}


/* Mobile */

@media (max-width: 900px) {

  .admin-main {
    margin-left: 0;

    padding-bottom: 70px;
  }

}